---
import Layout from "@/layouts/Layout.astro";
import Sidebar from "@/components/Sidebar";
---

<Layout title="Dashboard Blog | Portfolio Online">
  <Sidebar client:load>
    <div id="dashboard-blog-container"></div>
  </Sidebar>
</Layout>

<script>
  import { createElement } from "react";
  import { createRoot } from "react-dom/client";
  import DashboardBlogSection from "@/sections/Dashboard/blogs/DashboardBlogSection";

  const container = document.getElementById("dashboard-blog-container");
  if (container) {
    const root = createRoot(container);
    root.render(createElement(DashboardBlogSection));
  }
</script>
